
* {
  box-sizing: border-box;
}

body {
  margin: 0;

}


.popular-movies-text{
  color: black;
}

.popular-movies-text {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  background-color: rgba(217, 217, 217, 0.336);
  color: rgb(15, 15, 15);
  font-weight: 700;
}

.movie-item {
  flex: 0 0 calc(25% - 20px); /* Adjust the width as per your grid requirements */
  margin: 10px;
  text-align: center;
}


.movie-title {
  margin-top: 8px;
}

.movie-image {
  width: 100%;
  height: auto;
  border-radius: 15px;
  box-shadow: 10px 10px 12px rgba(0, 0, 0, 0.3);;
}

.movie-image:hover {
  outline: 5px solid #007BFF;
}

.nav {
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
  
}

.site-title {
  font-size: 2.3rem;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .75rem;
}

